html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  display: table;
  margin: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  background-color: #c9c9c9;
}

#grid-container {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 85px 350px 1fr 1fr;
  place-items: center;
}

.header {
  font-size: 1.5rem;
  align-self: baseline;
}

#game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
  background-color: white;
}

#game-board > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
}

#game-info {
  text-align: center;
}

#menu-btn {
  padding-top: 0.5rem;
}

button {
  padding: 15px 20px;
  margin-right: 0.39rem;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}